{% extends "pdf/base.html" %}

{% block content %}
<style>
    .title{
        color: orange;
        font-weight: bold;
        text-decoration: underline;
    }
</style>
<h1>Vérifiez que vos données sont correctes</h1>

<nav class="navbar navbar-expand-lg mt-5 navbar-light bg-primary">
    <h2 class="text-white">{{ profile.name }}</h2>
</nav>
<h4 class="title">CONTACT</h4>
<p>{{ profile.email }} <br> {{ profile.phone }} <br> {{ profile.address }}</p>

<h4 class="title">COMPETENCES</h4>
<p>{{ profile.competance }}</p>

<h4 class="title">EXPERIENCE</h4>
<p>{{ profile.experience }}</p>

<h4 class="title">INTERETS</h4>
<p>{{ profile.interet }}</p>

<h4 class="title">LANGUE</h4>
<p>{{ profile.langue }}</p>

<h4 class="title">EDUCATION</h4>
<p>{{ profile.education }}</p>

<h4 class="title">OBJECTIF</h4>
<p>{{ profile.objectif }}</p>

<nav class="navbar navbar-expand-lg mt-5 navbar-light bg-primary">
    <small class="text-white">G-loveCV generator {% now "Y-m-d" %}</small>
</nav>
<br>

<a href="{% url 'download' %}" class="btn btn-primary text-white mb-5">cliquez ici pour télécharger</a>

{% endblock content %}